@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&family=Tektur:wght@400..900&family=Tilt+Prism&display=swap');

h1 {
    font-family: "Tektur", sans-serif;
    color: white;
    margin-top: 1rem;
    text-align: center;
}

h5 > a {
    font-size: 2rem;
    color: black;
}

.carousel {
    width: 50%;
    height: auto;
    margin: 6rem auto;
}

.card {
    max-width: 100%;
    margin: 0 auto;
}

.card-title {
    font-family: "Tektur", sans-serif;
    text-align: center;
}

.card-text {
    font-family: "Tektur", sans-serif;
    text-align: center;
}

#carouselExampleIndicators {
    padding-bottom: 5rem;
}