@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Tektur:wght@400..900&family=Tilt+Prism&display=swap');


.carousel {
    width: 80%;
    margin: 0 auto;
}

.carousel-item {
    margin: 0;
}

.carousel-card {
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.carousel-card img {
    width: 50%;
}

.carousel-card-body {
    width: 50%;
    padding: 0.3em;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-title {
   text-align: center;
}

.card-title a {
    font-size: 1.2em;
    font-family: "Tektur", sans-serif;
}

.carousel-card-text {
    width: 100%;
    font-size: 1.2em;
    color: black;
    text-align: left;
    margin-top: 1em;
    margin-left: 0.3em;
    font-family: "Shantell Sans", cursive;


}

.carousel-item {
    opacity: 0;
    transition: opacity ease-in-out;
}

.carousel-item {
    animation: fadeIn 2s ease-in-out forwards;
}

.carousel-indicators {
    margin-bottom: -2em;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

