.carousel {
    display: flex;
    height: auto;
    margin: 0 auto;
    position: relative;
    border-radius: 10%;
}


.carousel-container {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 2.5s ease-out, transform 2.5s ease-out;

}

.carousel-container.in-view {
    opacity: 1;
    transform: translateY(0);
    min-height: 700px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    width: 1200px;
}

.controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
}

.control {
    cursor: pointer;
    padding: 10px;
    color: #fff;
    margin: 0 5px;
}

.carousel-indicators .active {
    background-color: black;
}

#carouselExampleIndicators {
    margin: auto auto;
}
