a {
    display: flex;
    gap: 3em;
}

a img {
    display: flex;
    width: 3%;
    /*margin: 10em 100em;*/
}

a img:hover {
    width: 10%;
}


.card {
    width: 200px;

}

.card:hover {
    width: 200%;
}