@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&family=Jersey+15&family=Platypi:ital,wght@0,300..800;1,300..800&family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@100..900&family=Honk&family=Jersey+15&family=Nabla&family=Platypi:ital,wght@0,300..800;1,300..800&family=Seymour+One&family=Yanone+Kaffeesatz:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&family=Tektur:wght@400..900&family=Tilt+Prism&display=swap');

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.contact-form {
    width: 100%;
    height: auto;
    padding: 3em;
    align-self: center;
    align-content: center;
    border: 3px solid black;
    /*margin: 4em auto 0 auto;*/
    animation: fadeIn 2s ease-in-out forwards;
}

.contact-form.in-view {
    opacity: 1;
    transform: translateY(0);
}

.contact-form h4 {
    text-align: center;
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: black;
}

.contact-form h5 {
    text-align: center;
    font-size: 1.3em;
    font-weight: 900;
    margin-bottom: -0.5em;
    margin-top: 1.5em;
    color: black;
}

.contact-form h6 {
    font-family: "Honk", system-ui;
    text-align: center;
    font-size: 1em;
    font-weight: 100;
    color: black;
}

.contact-form .mb-4 h5 label {
    margin-bottom: 10px;
}

.contact-form h6:hover {
    transform: scale(1.3);
}

.content {
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    gap: 0;
    width: 70%;
    margin: 5em auto;
    height: auto;
}

.contact-form {
    background-color: white;
}

.quote {
    width: 50%;
    height: auto;
    border: 3px solid black;
    background-color: #76756c;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#send-btn {
    display: block;
    margin: 0 auto;
    font-family: "Shantell Sans", cursive;
    font-size: 1.2em

}

#send-btn:hover {
    transform: scale(1.5);
}

#quote {
    font-family: "Shantell Sans", cursive;
    font-size: 1.2em;
    text-align: center;
    width: 80%;
    margin: 0 auto 3em auto;
}

#quote-author {
    font-family: "Shantell Sans", cursive;
    text-align: center;
    text-decoration: underline;
}

#quote-author a {
    color: #daf5ff;
}

@media (max-width: 992px) {
    .content {
        width: 95%;
    }
    .contact-form {
        padding: 0.3em;
    }
    .quote {
        width: 60%;
    }
    #quote {
        font-size: 0.4em;
    }
    #quote-author {
        font-size: 0.4em;
    }
}