@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&family=Jersey+15&family=Platypi:ital,wght@0,300..800;1,300..800&family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@100..900&family=Honk&family=Jersey+15&family=Nabla&family=Platypi:ital,wght@0,300..800;1,300..800&family=Seymour+One&family=Yanone+Kaffeesatz:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&family=Tektur:wght@400..900&family=Tilt+Prism&display=swap');

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.contact-form {
    width: 60%;
    margin: 4em auto 0 auto;
    animation: fadeIn 2s ease-in-out forwards;
}

.contact-form.in-view {
    opacity: 1;
    transform: translateY(0);
}

.contact-form h4 {
    text-align: center;
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

.contact-form h5 {
    text-align: center;
    font-size: 1em;
    font-weight: 900;
    margin-bottom: -0.5em;
    margin-top: 1.5em;
}

.contact-form h6 {
    font-family: "Honk", system-ui;
    text-align: center;
    font-size: 1em;
    font-weight: 100;
}


#send-btn {
    display: block;
    margin: 0 auto 8em auto;
    font-family: "Shantell Sans", cursive;
    font-size: 1.2em

}

#send-btn:hover {
    transform: scale(1.3);
}

