@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&family=Tektur:wght@400..900&family=Tilt+Prism&display=swap');

body {
    background: linear-gradient(to right, rgba(43, 41, 41, 0.9), rgba(65, 70, 87, 0.9), rgba(105, 135, 224, 0.9));,
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
    background-blend-mode: darken;
    background-size: 100vw 1200px;
    width: 100%;
    min-height: 100vh;
    margin: 0;
}


h2 {
    color: white;
    text-decoration: underline;
    text-underline-offset: 1.3rem;
    padding-bottom: 1.5em;
    font: 2.5rem/1 "Shantell Sans", cursive;
}

h4 {
    text-align: center;
    color: white;
    font: 1.8rem/1 "Shantell Sans", cursive;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    margin: 3rem auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 50%;
}

footer {
    background: linear-gradient(to right, rgba(43, 41, 41, 0.9), rgba(65, 70, 87, 0.9), rgba(105, 135, 224, 0.9));
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: white;
    font-family: "Shantell Sans", cursive;
    font-size: 1.3em;
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
    border-top: 2px solid white;
    margin-top: 7rem;
}


footer ul {
    display: flex;
    list-style: none outside;
}

footer ul li {
    text-decoration: none;
    padding: 0.5em 1.3em;
    font-size: 1.7em;
    margin: 0 auto;
}

footer ul li span {
    display: none;
}

.row {
    width: 100%;
    margin: 0 auto;
}

.footer-text {
    margin-top: 2rem;
}

.navbar-brand,
.nav-item {
    font-family: "Shantell Sans", cursive;
    border-bottom: 2px solid white;
}

.navbar {
    background: linear-gradient(to right, rgba(43, 41, 41, 0.9), rgba(65, 70, 87, 0.9), rgba(105, 135, 224, 0.9));
    position: fixed;
    width: 100vw;
    top: 0;
    transition: top 0.3s;
    z-index: 1000;
}

.nav-item:hover {
    background-color: black;
    border-radius: 50%;
}

.profile-picture {
    max-width: 100%;
    position: relative;
    height: auto;
    margin-top: 4em;
    border-bottom-left-radius: 30%;
    border-top-right-radius: 30%;
}

.info-about-me {
    margin: 5rem auto 10rem auto;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}


.info-about-me.in-view {
    opacity: 1;
    transform: translateX(0);
}

.mt-6 {
    margin-top: 5em;
}


.col-md-7 {
    margin: 0 auto 2rem auto;
    display: flex;
    flex-direction: column;
}

.col-md-7 p {
    margin: 0 auto;
    color: white;
    font-size: 1.4rem;
    font-family: "Shantell Sans", cursive;
    line-height: 1;
    text-align: center;
    width: fit-content;
    padding-bottom: 2em;
}

.col-md-8 {
    margin-top: 9em;
}

.col-md-9 {
    display: flex;
    height: auto;
    margin: 0 auto;
    background: linear-gradient(to right, rgba(43, 41, 41, 0.9), rgba(65, 70, 87, 0.9), rgba(105, 135, 224, 0.9));
    border-radius: 30%;
    padding: 1em 0;
}

.col-md-9 img {
    width: 8%;
    height: 80%;
    margin: auto auto;
}







