@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&family=Tektur:wght@400..900&family=Tilt+Prism&display=swap');

body {

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/poster.jpg);
    background-color: #343a40;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    width: 100%;
    max-width: 100%;
    height:380px;

}

footer {
    background-color: #343a40;
    color: white;
    font-family: "Shantell Sans", cursive;
    font-size: 1.3em;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 2px solid white;
}
.navbar-brand,
.nav-item {
    font-family: "Shantell Sans", cursive;
    border-bottom: 2px solid white;
}

.profile-picture {
    max-width: 100%;
    height: auto;
    border-bottom-left-radius: 30%;
    border-top-right-radius: 30%;
}

.col-md-7 {
 margin-top: 2em;
}

.col-md-7 h2 {
    color: white;
}

.row .col-md-8 {
    margin-top: 5em;
}


.nav-item:hover {
    background-color: black;
    border-radius: 50%;
}

.text-info {
    color: white;
}

.row:nth-child(1) {

    margin-top: 8em;
    margin-bottom: 8em;
}

.mt-6 {
    margin-top: 10em;
    background: #343a40;
}



