@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Tektur:wght@400..900&family=Tilt+Prism&display=swap');

.description {
    border-radius: 50px;
    height: auto;
    width: 100%;
    overflow: hidden;
    margin: 3em auto 0 auto;
    color: white;
    font-family: "Tektur", sans-serif;
    font-size: 2.4rem;
    font-weight: 600;
    white-space:  nowrap;
    text-align: center;
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
    animation:
            typing 1.8s steps(44, end) forwards, blink 1s ;
}
@keyframes typing {
    0% {
        width: 0%
    }

    100% {
        width: 100%
    }
}

@keyframes blink {

    0%,
    100% {
        border-right: 2px solid transparent;
    }

    50% {
        border-right: 2px solid #222;
    }
}

.title {
    letter-spacing: 1vw;
    height: 50px;
    width:60%;
    overflow: hidden;
    margin: 0 auto;
    color: white;
    font-family: "Tilt Prism", sans-serif;
    font-size: 2.5em;
    font-weight: 600;
    white-space:  nowrap;
    text-align: center;
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
    animation:
            typing 0.4s steps(44, end) forwards, blink 1s ;
}