footer ul {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
    font-size: 30px;
    color: white;
}

footer ul li {
    list-style: none outside;
}

footer p {
    color: white;
    font-size: 30px;
    margin-top: 1.3em;
    text-align: center;
}

footer ul li i:hover {
    font-size: 60px;
}