body {
    background-color: grey;
}

#RS-button {
background-color: grey;
border-radius: 50%;
padding:0.6em;
}

.contact-form {
    width:30%;
    margin: 4em auto;
}

.mb-5 {
    height:300px;
}

.textAreaTest {
    width:100%;
    height:6rem;
}