@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Tektur:wght@400..900&family=Tilt+Prism&display=swap');

@keyframes fadeIn {
    0% {
        opacity: 0;
        color: black;
    }
    100% {
        opacity: 1;
        color: white;
    }
}

@keyframes typing {
    10% { width: 10%; }
    100% { width: 100%; }
}

.hero {
    width: 100%;
    min-height: 80vh;
    background: url("/images/poster.jpg") no-repeat center;
    background-size: cover;
    filter: blur(3px) brightness(0.7) contrast(1);
}

.blur-image {
    filter: blur(5px);
}

.typing-effect {
    animation: typing 1.5s steps(50, jump-both) forwards;
}

.black-to-white {
    width: 0;
    animation: fadeIn 3s;
}

.name-and-title-container {
    width: 100%;
    max-width: 100%;
    position: absolute;
    margin-top: 5em;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.name-and-title {
    margin-top: 5em;
}

.technologies-and-name {
    text-align: center;
    margin-top: 8em;
}

.profile-picture {
    width: 500px;
    max-height: 500px;
    margin-top: 3em;
    border-bottom-left-radius: 30%;
    border-top-right-radius: 30%;
}


.title {
    letter-spacing: 0.5vw;
    height: 50px;
    width: 60%;
    margin: 0 auto;
    color: white;
    font-family: "Tilt Prism", sans-serif;
    font-size: 2.2em;
    font-weight: 900;
}

.my-name {
    width: 100%;
    color: white;
    font-family: "Tektur", sans-serif;
    font-size: 2.3em;
    font-weight: 600;
}

.technologies {
    display: flex;
    height: auto;
    width: 100%;
    background: linear-gradient(to right, rgba(43, 41, 41, 0.9), rgba(65, 70, 87, 0.9), rgba(105, 135, 224, 0.9));
    border-radius: 30%;
    padding: 1em 0;
}

.technologies img {
    width: 8%;
    height: 80%;
    margin: auto auto;
}

.technologies-wrapper  {
    margin: 2em auto;
    color: white;
    font-size: 1.7rem;
    font-family: "Shantell Sans", cursive;
    line-height: 1;
    text-align: center;
}

.container {
    padding: 0;
}

/*@media (max-width: 1350px ) {*/
/*     .info-about-me {*/
/*         margin-top: 13em  !important;*/
/*     }*/
/*}*/

@media only screen and (max-width: 390px) and (min-height: 840px) {
    main {
        margin-top: 3em;
    }
    .profile-picture {
        max-height: 350px;
        margin-top: 13em;
    }

    .name-and-title-container {
        font-size: 0.7em;
        position: relative;
        margin-top: 2em;
        transform: translate(-50%, -85%);
    }

    .name-and-title-container .row {
        align-items: center;
    }

    technologies {
       display: flex;
       flex-wrap: wrap;
       gap: 0.6em;
    }

    .technologies img {
        width: 13%;
        max-width: 100%;
        height: 80%;
        margin: auto auto;
    }

    .technologies-wrapper .row {
        flex-direction: column !important;
    }

    .technologies-wrapper .row h2 {
        font-size: 0.8em;
    }

    .name-and-title .row {
        flex-direction: column-reverse;
    }

    .info-about-me {
        margin-top: -23em  !important;
     }
}

@media only screen and (max-width: 992px) and (max-height: 450px) {

    .profile-picture {
        margin-top: 10em;
    }

    .title {
        width: 100%;
        margin-bottom: 1em;
    }
    .info-about-me {
        margin-top: 7em  !important;
    }
}

/*@media (max-width: 500px ) {*/
/*    main {*/
/*        margin-top: 0;*/
/*    }*/

/*    .technologies-wrapper .row h2 {*/
/*        font-size: 0.5em;*/
/*    }*/

/*    .technologies img {*/
/*        display: block;*/
/*        width: 13%;*/
/*    }*/

/*    .my-name {*/
/*        font-size: 2em;*/
/*    }*/

/*    .info-about-me {*/
/*        margin-top: -14em !important;*/
/*    }*/

/*    .title{*/
/*        width: 100%;*/
/*        font-size: 1.4em;*/
/*        text-align: center;*/
/*    }*/

/*    h2, p {*/
/*        font-size: 0.6em;*/
/*    }*/


/*    .footer {*/
/*        flex-wrap: wrap;*/
/*    }*/

/*    .footer-icons ul {*/
/*        flex-wrap: wrap;*/
/*        font-size: 0.9em;*/
/*        margin-left: -2em;*/
/*    }*/

/*}*/

/*@media only screen and (max-width: 992px) and (min-height: 480px) {*/
/*    main {*/
/*        margin-top: -12em;*/
/*    }*/
/*    !*.name-and-title-container {*!*/
/*    !*    transform: translate(-50%, -30%);*!*/
/*    !*}*!*/

/*    !*main > .container {*!*/
/*    !*    margin-top: 20em;*!*/
/*    !*}*!*/
/*}*/