@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap");


header {
    display: flex;
    justify-content: space-between;
    background: #4e4c4c;
    border-bottom: 3px solid white;
}

header div {
    color: white;
    font-size: 50px;
    padding: 1em 0;
    margin-left: 3em;
}


.nav-bar ul {
    display: flex;
    padding: 1em 0;
    border-radius: 2em;
    overflow: hidden;
    justify-content: space-between;
}

.nav-bar li {
    list-style: none outside;
    margin-right: 15em;
    margin-top: 2em;
    overflow: hidden;
}

.nav-bar li a {
    text-decoration: none;
    font: 20px/1.2  "Cormorant Infant", serif;
    color: white;
    padding: 1em 1em;
    border: 1px solid black;
    background: black;
    border-radius: 1em;

}

.nav-bar li a:hover {
    font-size: 30px;
}