.navbar {
    background: linear-gradient(to right, rgba(43, 41, 41, 0.9), rgba(65, 70, 87, 0.9), rgba(105, 135, 224, 0.9));
    outline: 1px solid wheat;
    display: flex !important;
    align-items: center;
    padding: 10px 20px;
    opacity: 80%;
}

.navbar-brand {
    align-items: center;
    padding: 0; /* Ensure no extra padding around the brand/logo */
}

.navbar-collapse {
    justify-content: flex-end; /* Aligns navigation links to the right */
}

.navbar-brand img {
    max-height: 32px !important; /* Set a more reasonable size for the logo */
    transition: transform 0.3s ease-in-out;
}

.navbar-toggler {
    border: none; /* Remove the border around the button */
    background-color: transparent; /* Ensures it blends with the background */
}

.nav-item:hover {
    background-color: white;
    border-radius: 10px;
}

.navbar .nav-link {
    position: relative;
    z-index: 4000;
}

.navbar .nav-link:hover {
    color: black !important;
}

.navbar .navbar-brand,
.navbar .nav-link {
    font-size: 1rem;
    font-weight: 700;
    color: #fff !important;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4000;
    transition: top 0.4s;
}


.navbar-toggler-icon {
    color: white; /* Ensure the toggle icon is visible */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .navbar-collapse {
        justify-content: center; /* Center nav links in mobile view */
    }

    .navbar-brand img {
        max-height: 24px; /* Adjust logo size for smaller screens */
    }
}


@media (max-width: 990px) {
    .nav-item {
        text-align: right;
        margin-top: 0.5em;
        background-color: unset !important;
    }
}