.navbar {
    background: linear-gradient(to right, rgba(43, 41, 41, 0.9), rgba(65, 70, 87, 0.9), rgba(105, 135, 224, 0.9));
    border-radius: 15px;
    outline: 1px solid wheat;
    display: flex !important;
    align-items: center;
    padding: 10px 20px;
}

.navbar-brand {
    align-items: center;
}

.navbar-collapse {
    justify-content: end;
}

.navbar-brand img {
    max-height: 10px !important;
    height: auto;
    transition: transform 0.3s ease-in-out;
    transform: scale(2.5);
}

.form-inline {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
}

.nav-item:hover {
    background-color: white;
    border-radius: 10px;
}

.navbar .nav-link:hover {
    color: black !important;
}

.navbar .navbar-brand,
.navbar .nav-link {
    font-size: 0.9rem;
    font-weight: 700;
    color: #fff !important;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    color: green !important;
    text-align: center;
    padding: 15px;
    z-index: 4000;
    transition: top 0.4s !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
