* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to bottom, #05170d, royalblue) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

p {
    margin-bottom: 0;
}


.hero {
    width: 100%;
    min-height: 60vh;
    background: url("/images/poster.jpg") no-repeat center;
    background-size: cover;
    filter: blur(3px) brightness(0.7) contrast(1);
}


@media (max-width: 1200px) {

    h5, h6 {
        font-size: 0.6em !important;
    }

}