
@media (max-width: 1220px) {

    .description,
    .title{
        font-size:2.7vw;
        padding: 0;
        background: unset;
        animation:typing 2s steps(44, end) forwards, blink 1s;
    }

    .nav-item {
        text-align: end;
        display: block;
        border-bottom: unset;
    }

    .nav-item:hover {
            background-color: unset;
        }

    .navbar-dark .navbar-nav .nav-link:hover {
       color: white;
       font-size: 1.3em;
    }

    body {
        aspect-ratio: 5/9;
    }

    footer {
        position: relative;
        bottom: 0;
    }

    .description {
        font-size:0.2vw;
        margin: -3em auto 0 auto;
    }

    .col-md-7 h2 {
        font-size: 20px;
    }

    .col-md-7 p {
        font-size: 15px;
    }

    .col-md-8 {
        border-bottom: 2px solid grey;
        border-top: 2px solid grey;

    }

    .col-md-9 img {
        width: 14%;
    }

    .mt-6 {
        margin-top: -10em;
    }

    .contact-form {
        width: 80%;
    }

    .profile-picture {
        width: 60%;
        max-width: 100%;
        height: 60%;
    }

    .footer {
        margin-top: -6.5em;
    }
}

@media (max-width: 650px) {
    body {
        aspect-ratio: 5/9;
    }

    footer {
        position: relative;
        bottom: 0;
    }

    .description {
        font-size:0.2vw;
        margin: -3em auto 0 auto;
    }

    .col-md-7 h2 {
        font-size: 20px;
    }

    .col-md-7 p {
        font-size: 15px;
    }

    .col-md-8 {
        border-bottom: 2px solid grey;
        border-top: 2px solid grey;

    }

    .col-md-9 img {
        width: 14%;
    }

    .mt-6 {
        margin-top: -10em;
    }

    .contact-form {
        width: 80%;
    }

    .profile-picture {
        width: 60%;
        max-width: 100%;
        height: 60%;
    }

    .footer {
        margin-top: -6.5em;
    }
}

@media (max-width: 650px) {
 .description,
    .title{
        font-size:5vw;
        padding: 0;
        background: unset;
        animation:typing 2s steps(44, end) forwards, blink 1s;
    }

}

@media (max-width: 260px) {
 .description,
    .title{
        font-size:4vw;
        padding: 0;
        background: unset;
        animation:typing 2s steps(44, end) forwards, blink 1s;
    }

}